<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nvgup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Never Give Nigga"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NVGUP">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mouvements"
            android:label="Never Give Nigga" >></activity>
        <activity android:name=".Home"
            android:label="Never Give Nigga"></activity>
        <activity android:name=".Timer"
            android:label="Never Give Nigga"></activity>
    </application>

</manifest>